.header{
	overflow: hidden;
}

.banner{
	height: 360px;
}

.main{
	margin: 0px auto;
	display: table;
	margin-top: 130px;
}
.wrap{
	margin: 0 auto;
	display: block;
	width: 1000px;
	color: #6f6f6f;
}
.introIcon{
	width: 50px;
	height: 50px;
	border: 1px #d0d5d9 solid;
	float: left;
}
.introduce{
	color: #6f6f6f;
}
.introduce h3{
	font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.introduce p{
	margin-bottom: 10px;
}
.introText{
	margin-left: 70px;
}
.oneIntro{
	margin-bottom: 50px;
}
.jobDetail{
	margin: 0 20px;
	color: #6f6f6f;
}
.oneJob{
	width: 50%;
	float: left;
	padding: 10px;
}
.jobTitle{
	color: #939393;
	font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    /*margin-bottom: 15px;*/
}
.oneJob li{
    list-style-type: disc;
    margin-left: 40px;
}
.oneJob p{
	margin: 15px 0;
}
.fixednotice{
	position: fixed;
	right: 20px;
	bottom: 0px;
	border: #333333 1px solid;
	border-radius: 10px;
	width: 300px;
	height:200px;
	padding: 15px;
	background: #FFFFFF;
}
.notice{
	border-bottom: 1px solid #333333;
	padding-bottom: 20px;
}
.mail{
	margin: 5px 0;
}

.main ul li{display:list-item;list-style-type: disc;}
.main>div>h2{margin: 15px 0;}
.main>div>ul{margin: 15px 0 15px 35px;}
.main>div>h3{margin: 15px 0;}
.main>div>p{margin:15px 0;}
